/Armada/nbproject/private/
/Armada/nbproject/
/Armada/lib/
/Armada/build/classes/armada/
/Armada/build/classes/
Armada/build/built-jar.properties

Armada/build/classes/armada/Armada.class

Armada/build/classes/armada/ArmadaWindow.class
/Armada/dist/